
html,
body {
    width: 100%;
    height: 100%;
    text-align: center;
    /* background: #00ECB9; */
    background: white;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 10px 0px 10px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 70px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

section {
    padding: 50px 0;
}

section >h2 {
    font-size: 50px;
}

.catch {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 120;
    font-size: 50px;
    margin: 10px 0px 10px;
}

h4 {
    color: rgb(214, 21, 54);
    font-weight: 800;
    font-size: 30px;
    margin: 10px 0px 10px;
}